language: ruby
cache: bundler
# needed until https://github.com/blowmage/minitest-rails/issues/135 is solved
script: bundle exec rake minitest:all
rvm:
  - 1.9
  - 2.0
  - 2.1
  - jruby-19mode
  - rbx
bundler_args: --without development,doc
