language: ruby
cache: bundler
script: bundle exec rake test:all
rvm:
- 2.0
- 2.1
- jruby-head
- rbx-2
bundler_args: --without development doc heroku
deploy:
  provider: heroku
  api_key:
    secure: FcnR2TF+QsBJr1RlBAPpMnLBShJkyJhfjbxdS5FOx2RfDKeL28+BAmfkShgICHXgVbqLvVMopio8CiAq7iW3Ujblx3GqfZS2O3GmLJEnlM6t+u9PbbuDfziF+ol3HuYdFlEHDUpnFK4dQdaOSLvcQrolP9TQUjAvkPMw1/GgJyE=
  app: chili4
  on:
    repo: thegcat/cp
