<div id="new-project" class="project new">
  <h1>New project</h1>
  <%= form_for @project do |f| -%>
    <%=f.label :name, 'Name' -%> <%= f.text_field :name %>
    <%= f.submit "Create" %>
  <% end -%>
</div>
