<div class="project <%= @project.html_class -%>">
  <h1><%= @project.name_or_default -%></h1>
  <%= link_to t('global.edit'), edit_project_path(@project) %>
  <%= link_to t('global.delete'), project_path(@project), method: :delete %>
</div>
